/* @override 
	http://dev.prolifikseo.com/sites/all/themes/prolifik/css/prolifik-base.css?mf6rsa
	http://dev.prolifikseo.com/sites/all/themes/prolifik/css/prolifik-base.css?mfso18
	http://dev.prolifikseo.com/sites/all/themes/prolifik/css/prolifik-base.css?mfswh5 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);

/* This file will hold the main styles for your website. */
body {

}
/* Kill flexible images in IE6-8 */
.ie6-8 img {
  max-width: none; }
 /* Improve IE's resizing of images */
svg:not(:root) {
    overflow: hidden; }
  
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* @group Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #3b87c5;
}
a:hover {
  text-decoration: underline;
}
/* @end */

/* @group Headers */

body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #191F53;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #191F53;
}

/* @end */

/* @group Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}
/* @end */

/* @group Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* @end */

/* @group Fonts */
body { font-size: 62.5%;
	text-align: justify;
}
#admin-menu { font-size: 1.2em; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
}

/* Menu */
#region-menu nav.navigation > ul.menu > li > a {
  font-size: 1.5em;
  line-height: 1em;
}

#region-menu nav.navigation > ul.menu > li > ul,
#region-menu nav.navigation > ul.menu > li > div,
#region-menu nav.navigation-secondary > ul.menu > li > a {
  font-size: 1.2em;
}

/* Blocks */
div.block-title h2.block-title {
  font-size: 2.4em;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

/* Content */
#messages,
ul.action-links,
ul.tabs,
#zone-preface .region-inner > .block > .content,
#zone-content .region-inner > .block > .content,
#zone-postfix .region-inner > .block > .content {
  font-size: 1.4em;
}
#zone-footer .region-inner > .block > .content {
  font-size: 1.2em;
}
/* Headers */
h1 {
  font-size: 2.8em;
  text-transform: uppercase;
}
h2 {
  font-size: 2.4em;
  text-transform: uppercase;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
.block > .content h1 {
  font-size: 2em;
  text-transform: uppercase;
}
.block > .content h2 {
  font-size: 1.714em;
  text-transform: uppercase;
}
.block > .content h3 {
  font-size: 1.429em;
}
.block > .content h4 {
  font-size: 1.143em;
}
.block > .content h5 {
  font-size: 1em;
}

div.caption {
	font-size: .9em;
	text-align: justify;
	margin-right: 5%;
	margin-left: 5%;
}

/* @end */


/* @group Page */
#page {
  position: relative;
}
/* @end */

/* @group Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}
/* @end */


/* @group Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}
/* @end */

/* @group Menu */

#region-menu nav.navigation ul.menu li.leaf {

}

#block-menu-menu-social-media-menu li {
	margin-top: 15px;
	margin-bottom: 15px;
}

#block-menu-menu-social-media-menu li a {padding-right: 55px;
padding-bottom: 10px;
padding-top: 10px;
}
a#facebook {background: url(../images/facebook.png) no-repeat right;}
a#gplus {background: url(../images/google-plus.png) no-repeat right;}
a#twitter {background: url(../images/twitter.png) no-repeat right;}

/* @end */
/* @group Search Form */
#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}


#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}

/* @end */
/* @group Content */

/* @group Sidebars */
#section-content #region-sidebar-first,
#section-content #region-sidebar-second {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#section-content #region-sidebar-first .region-inner,
#section-content #region-sidebar-second .region-inner {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  height: 100%;
  padding: 20px;
}
#section-content #region-sidebar-first > .separator,
#section-content #region-sidebar-second > .separator {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(212,212,212,0.98) 49%, rgba(213,213,213,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(212,212,212,0.98)), color-stop(50%,rgba(213,213,213,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
#section-content #region-sidebar-first > .separator {
  right: 0;
}
#section-content #region-sidebar-first .region-inner {
  padding-right: 30px;
}
#section-content #region-sidebar-second > .separator {
  left: 0;
}
#section-content #region-sidebar-second .region-inner {
  padding-left: 30px;
}
/* @end */


ul.tabs {
  *padding-top: 1px;
}

#section-content {
	background: url(../images/grey.png) #787878;
	border-top: 3px solid #000000;
	-webkit-box-shadow: 0 0 15px #000000;
	-moz-box-shadow: 0 0 15px #000000;
	box-shadow: 0 0 15px #000000;
}
#section-content .section-wrapper {
  overflow: hidden;
-webkit-box-shadow: 0 0 15px #000000;
-moz-box-shadow: 0 0 15px #000000;
box-shadow: 0 0 15px #000000;
}

#section-content .zone-wrapper {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}
#section-content .zone-wrapper .zone {
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
#section-content .zone-wrapper > .separator {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(212,212,212,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(212,212,212,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  height: 1px;
}
#section-content .zone-wrapper .zone .region-inner {
  margin: 0;
  padding: 20px;
}
/* @end */

/* @group Branding */
#zone-branding-wrapper {
	}

#zone-branding {
  position: relative;
}
#region-branding {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
#region-branding .region-inner {

	padding-top: 0;
	padding-right: 10px;
	padding-left: 10px;
}

.logo-img {
  float: none;
  margin: 0;
  text-align: center;
}

#logo {

}



/* @end */
/* @group Footer */
#zone-footer-wrapper {
  z-index: 1;
	padding-top: 10px;
	-webkit-box-shadow: #666 0px 0px 10px;
-moz-box-shadow: #666 0px 0px 10px;
box-shadow: #666 0px 0px 10px;
background: rgb(59,136,198);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjM2I4OGM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMjA2ZGIxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(59,136,198,1) 45%, rgba(32,109,177,1) 99%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%,rgba(59,136,198,1)), color-stop(99%,rgba(32,109,177,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(59,136,198,1) 45%,rgba(32,109,177,1) 99%);
background: -o-radial-gradient(center, ellipse cover,  rgba(59,136,198,1) 45%,rgba(32,109,177,1) 99%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(59,136,198,1) 45%,rgba(32,109,177,1) 99%);
background: radial-gradient(ellipse at center,  rgba(59,136,198,1) 45%,rgba(32,109,177,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b88c6', endColorstr='#206db1',GradientType=1 );
r: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2478b9', endColorstr='#2478b9',GradientType=1 );

}
#zone-footer-wrapper a,
#zone-footer-wrapper a:link
#zone-footer-wrapper a:visited {
  color: #fff;
}
#zone-footer-wrapper .block .content {
  color: black;
}
#zone-footer-wrapper div.block-title {
  margin: 15px 0;
}
#zone-footer-wrapper div.block-title h2.block-title div.separator {
  background-image: url(../images/separator-white.png);
}
#zone-footer-wrapper p {
  margin: 0;
  padding: 0;
  color: white;
}
#region-footer-first,
#region-footer-second {
  margin: 0;
  padding: 10px 10px 20px;
}
#region-footer-bottom {
  margin: 0;
  padding: 20px 0;
  width: 100%;
}
#region-footer-bottom .region-inner {
  padding: 0 20px;
}
#region-footer-bottom img {
  vertical-align: middle;
}
#region-footer-bottom img.levelten {
  position: relative;
  top: 2px;
}

/* Legal Notices Menu */
#region-footer-bottom .block {
  float: left;
}
#region-footer-bottom #block-menu-menu-legal-notices {
  float: right;
}
#region-footer-bottom #block-menu-menu-legal-notices .block-title {
  display: none;
}
#region-footer-bottom #block-menu-menu-legal-notices li {
  background: none;
  float: left;
  list-style: none;
}

body > #page #zone-footer h1, body > #page #zone-footer h2, body > #page #zone-footer h3,
body > #page #zone-footer h4, body > #page #zone-footer h5, body > #page #zone-footer h6, #zone-footer div.block-title {
  color: #fff;
	margin-bottom: 0;
	margin-top: 0;
}

#zone-footer label {
	color: white;
}

span.companyname {
	font-size: 1.25em;
}

#block-block-1 div.content div.microdata div {
	color: white;
}

/* @end */

/* @group Form */
textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  background: #fcfcfc;
}
input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  background: #fff;
}
button, textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], input[type="week"] {  
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #626262;
  z-index: 1;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #489ec8;
}
.node-links ul li a, .comment-links ul li a,
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background: rgb(250,250,250); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  border: 1px solid #dcdcdc;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #424242;
  letter-spacing: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-size: 0.8em;
  padding: 5px 15px;
  text-shadow: none;
  text-transform: uppercase;
}
.node-links ul li a:hover, .comment-links ul li a:hover,
.form-actions input:hover {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.node-links ul li a:active, .comment-links ul li a:active,
.form-actions input:active {
  background: rgb(221,221,221); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

#region-sidebar-second textarea, #region-sidebar-second select, #region-sidebar-second input[type="date"],
#region-sidebar-second input[type="datetime"], #region-sidebar-second input[type="datetime-local"],
#region-sidebar-second input[type="email"], #region-sidebar-second input[type="month"],
#region-sidebar-second input[type="number"], #region-sidebar-second input[type="password"],
#region-sidebar-second input[type="search"], #region-sidebar-second input[type="tel"],
#region-sidebar-second input[type="text"], #region-sidebar-second input[type="time"],
#region-sidebar-second input[type="url"], input[type="week"] {
  width: 100%;
}
/* @end */

/* @group Header */

#section-header {
  overflow: hidden;
  position: relative;
}

#zone-header {
	background-color: white;
}

#zone-header-wrapper {
  overflow: hidden;
  position: relative;
}

/* @end */

/* @group Menu */
#zone-menu {
  min-height: 30px;
  z-index: 10;
  }

#zone-menu-wrapper {
	position: relative;
	z-index: 899;
	background-color: #1f211f;
}
#region-menu .region-inner {
  margin: 0 -10px;
}
#region-menu nav > ul.menu > li {
  background: none;
  float: none;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
  position: relative;
  display: block;
text-align: center;
}
#region-menu nav > ul.menu > li.last {
  margin: 0;
}
#region-menu nav > ul.menu > li > a,
#region-menu nav > ul.menu > li > a:link,
#region-menu nav > ul.menu > li > a:visited {
  color: #fff;
}
#region-menu nav > ul.menu > li > a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

#region-menu nav > ul.menu > li:hover > a,
#region-menu nav > ul.menu > li.hover > a {
  background: rgba(255,255,255,.2);
}

/* Drop Down Menus */
#region-menu nav > ul.menu > li ul,
#region-menu nav > ul.menu > li .view {
  display: none;
}
#region-menu nav > ul.menu > li:hover ul,
#region-menu nav > ul.menu > li:hover .view,
#region-menu nav > ul.menu > li.hover ul,
#region-menu nav > ul.menu > li.hover .view {
  display: block;
  position: absolute;
}

/* Secondary Menu */
#region-menu nav.navigation-secondary {
  float: right;
  position: relative;
  top: 7px;
}
#region-menu nav.navigation-secondary ul.menu > li > a {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
}
/* @end */

#block-block-2 {
	text-align: center;
	color: black;
	font: 18px/22px "Open Sans";
	margin-bottom: 10px;
}

div.tagbig {
	width: 22px;
	color: #3b88c6;
	display: inline;
	font-size: 24px;
}

div.popover-left {
	float: left;
	padding-right: 20px;
}
div.popover-right {
	float: right;
	padding-left: 20px;
}

/* @group Front Tabs */

#node-tabbed-page-20 header h2.node-title a {
	display: none;
}

#node-tabbed-page-20 ul.horizontal-tabs-list li.horizontal-tab-button {width: 100%;
	background-color: #3b88c6;
	text-align: center;
	font-size: 24px;
}

#node-tabbed-page-20 ul.horizontal-tabs-list li.selected a {
background-color: #c9cac9;
color: white;
border: none;
}

.horizontal-tabs ul.horizontal-tabs-list {background-color: #3b88c6;}

#node-tabbed-page-20 .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  outline: none;
  background-color: #ecedec;
  color: #3a87c5;
  border: none;
}

#node-tabbed-page-20 ul.horizontal-tabs-list li.horizontal-tab-button a {
	color: white;
	padding: 0;
}
/* @end */

/* @group Custom Blocks */
#block-block-3 {
	text-align: center;
	margin-bottom: 10px;
}

/* @end */

/* @group Blog */



/* @end */

div.avatar {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

div.view.view-blog.view-id-blog.view-display-id-page div.views-row{margin-bottom: 20px;
	
}

div.ds-1col.node.node-article.view-mode-full .field-name-submitted div.field-item {float: left; display: inline;
	margin-right: 5px;
}

h1#page-title.title {text-align: left;
	text-transform: capitalize;
}
.node-type-article h1#page-title.title {margin-bottom: 0;}

a.views-more-link {
	
}
div.view.view-blog.view-display-id-page .views-field-title h3 {margin-bottom: 0;}

div.views-field.views-field-created {margin-bottom: 5px;
	font-size: small;
	font-style: italic;
}

